html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:16px;
    background-color: hsl(231, 55%, 30%);
    color:white;
}
body{
    margin:0;
}
/*header*/
header{
    color: hsl(0, 1%, 15%);
    display: flex;
    position: fixed;
    width:100%;
    height:4.5rem;
    top:0;
    background-color:white;
    align-items:center;
    z-index: 1;
}
nav{
    width:100%;
    text-align:right;
    padding:0;
}
li{
   display: inline-flex;
   margin:0.5rem;
}
#list-3{
    margin-right:2rem;
}
header h3{
    width:40%;
    font-size:1.5rem;
    opacity: 0.7;
}
header h3 span{
    font-weight:100;
    opacity:0.6;
}
header img{
    width:5%;
    height:auto;
}
/*section-1*/
main{
    margin-top:4rem;
}
#section-image-1{
    width:60%;
    height:auto;
    margin: 3rem 2.4rem 3rem 2rem;
}
section#screen-1{
    display:flex;
    align-items:center;
}
.screen-1-text{
    font-size:1.5rem;
}
button.screen-1{
    width: 85%;
    padding:1.4rem;
    margin-top:2rem;
    margin-left:1rem;
    background-color: white;
    font-size: 1.4rem;
    border: 1px solid hsla(0, 1%, 15%, 0.3);
    font-weight: 600;
    color:hsla(231, 55%, 30%,0.8)
}
/*section-2*/
#screen-2{
    background-color:hsl(240, 5%, 84%);
    display:flex;
    color: hsla(0, 1%, 15%, 0.75)
}
.screen-2-section-1-whole{
    width:60%;
    margin-left: 2rem;
}
img.screen-2-section-1{
    width:100%;
    margin: 3rem 0 0 0;
}
.screen-2-section-2-whole{
    width:40%;
    display: flex;
    flex-wrap:wrap;
    margin:2rem 0;
}
.screen-2-section-2{
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: flex-start;
    font-size:0.8rem;
    border: 1px solid hsla(0, 1%, 15%, 0.3);
    margin:0.04rem 0.8rem;
}
.screen-2-section-2-img{
    width:35%;
    height:auto;
    padding:2rem 1rem 1.5rem 1rem;
}
.screen-2-section-2-text{
    width:65%;
}
span.screen-2-section-1{
   font-size:0.8rem;
   display:block;
   padding:3rem 0;
}
/*section-3*/
#screen-3{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:1rem 0 3rem 0;
}
div.screen-3{
    width: 25%;
    background-color: white;
    margin: 1rem;
    border-radius: 2px;
}
img.screen-3{
    width:100%;
}
h1.screen-3-heading{
    flex-basis:100%;
    text-align: center;
    font-weight:bold;
}
div.screen-3-text{
    margin-left:0.7rem;
    line-height:1.6;
    color: hsl(0, 1%, 15%);
}
/*section-4*/
.screen-4{
    background-color: hsl(240, 5%, 84%);
    color: hsla(0, 1%, 15%, 0.75);
    display:flex;
    flex-wrap:wrap;
}
.screen-4-section-1{
    width:55%;
    margin: 3rem 2rem 3rem 1rem;
}
.screen-4-section-2{
    width:40%;
    margin-top: 3rem;
}
video{
    width:100%;
}
.screen-4-section-2-img{
    width:35%;
    padding: 1rem 1.3rem 0 1rem;
}
div#fisma,
div#now{
    display:flex;
    padding:0 0 1rem 0;
    line-height:1.5;
    border: 1px solid hsla(0, 1%, 15%, 0.3);
    margin-bottom:2px;
}
h1.screen-4{
    height:fit-content;
    flex-basis:100%;
    justify-content: center;
}
/*footer*/
footer{
    background-color: white;
    border: 1px solid hsla(0, 1%, 15%, 0.3);
    display:flex;
    font-size:0.7rem;
    color: hsla(210, 29%, 18%, 0.6);
    padding: 1rem 0;
}
footer p{
    width:100%;
    margin-left:0.5rem;
}
p.right-align{
    text-align:right;
}
footer span{
    margin:0.5rem;
}
/*design*/
h1{
    font-family: Nunito;
    font-weight: 800;
    font-size:2.5rem;
}
h2{
    font-family: Montserrat;
    font-weight: 700;
    font-size:1.5rem;
}
p{
    font-family: Nunito;
}
p.screen-1{
    margin-top:0;
    font-size:1.35rem;
}
a{
    color: hsla(0, 1%, 15%, 0.75);
}
/*hover section*/
li,
a,
button,
.screen-2-section-2,
.screen-3,
#fisma,
#now,
footer span{
    transition: all 300ms linear 90ms;
}
li:hover{
    color: hsl(231, 87%, 78%);
    text-decoration: underline;
}
button:hover{
    padding:1.6rem;
    height:auto;
    background-color: hsl(240, 5%, 84%);
}
.screen-2-section-2:hover,
#fisma:hover,
#now:hover{
    background-color:rgb(239, 231, 231);
}
a:hover{
    color:rgb(0, 0, 0);
}
.screen-3:hover{
    width:26%;
    background-color: rgb(206, 198, 198);
}
img.screen-3:hover{
    width:100%;
}
.logo{
    display:none;
}
.mobile{
    display:none;
}
.mobile-2{
    display:none;
}
/*responsive-phone-layout*/
@media only screen and (max-width:600px){
    html{
        display:block;
        transition: all 100ms linear;
    }
    /*header*/
    li{
        display:none;
    }
    h3.list{
        display:none;
    }
    ul{
        display:flex;
        padding-left: 1rem;
    }
  .logo{
    width:2rem;
    height: 2rem;
    display: flex;
    margin: 0 auto;
 }
  .logo-colmar{
    width:2.5rem;
    margin-left: 1rem;
 }
 /*screen-1*/
 section#screen-1{
    display: block;
 }
 #section-image-1{
   width:99%;
   margin:0;
   border:1px solid transparent;
 }
 .screen-1-text{
  margin-left:1rem;
 }
 h1.screen-1{
    font-size:1.8rem;
 }
 p.screen-1{
    font-size: 1.3rem;
 }
 button.screen-1{
    margin:1rem 1rem 0 1rem;
    padding: 0.8rem 0;
    font-size:1.2rem;
 }
 /*screen-2*/
 #screen-2{
    display:block;
 }
 .screen-2-section-1-whole{
    display:none;
 }
 .screen-2-section-2-whole{
    width:100%;
 }
 .screen-2-section-2{
    display: block;
    margin:0;
    padding: 1rem 0;
    border: none;
 }
 .screen-2-section-2-img{
    display:none;
 }
 .mobile{
    display:block;
    width:95%;
    margin:0.5rem auto;
 }
 .screen-2-section-2-text{
    margin-left: 1rem;
    width: 90%;
 }/*screen-3*/
 #screen-3{
    display: block;
 }
 img.screen-3,
 .screen-3-text{
    display: none;
 }
 .mobile-2{
    display:block;
    margin-left:1rem;
    font-size: 1rem;
 }
 div.screen-3{
    width:90%;
    height: 3.4rem;
    margin:1rem auto;
    padding:0;
    color: hsla(0, 1%, 15%, 0.6);
    align-items: center;
    display:flex;
 }
 div.screen-3:hover{
     width:90%;
 }
 .screen-3-heading{
    font-size: 2rem;
    margin-top: 0rem;
 }
 /*screen-4*/
 .screen-4{
    font-size: 1.6rem;
 }
 .screen-4-section-1{
    width:100%;
    margin: 0;
 }
 .screen-4-section-2{
    display: none;
 }
 .screen-4-section-1-t{
    display: none;
 }
 video{
    width: 100%;
    margin: 0;
 }
 /*footer*/
 footer span{
    display: none;
 }
 footer{
    font-size: 0.5rem;
 }
}